@tailwind base;
@tailwind components;
@tailwind utilities;

.text-html a {
	@apply underline;
}
.text-html a:hover {
	@apply text-orange-500;
}

.text-html * {
	max-width: 100%;
	overflow-wrap: anywhere;
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}
